@charset "utf-8";
/*home1.blade.phpの記述*/


body {
    background-image: url('../trianglepink.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* 画像をタイル状に繰り返し表示しない */
    background-attachment: fixed;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */

}


/*候補者一覧,政党一覧　タイトル*/
h1 {
    text-align: center;

    font-family: Yu Mincho;
}


/*候補者一覧　全体*/
.candicates {
    margin: 150px 150px 120px;

    background-color: #fafafa;

    border: 2px solid black;
}

/*候補者一覧　内容*/
.candidate {
    display: inline-block;
    
    margin: 30px 88px 30px 108px; /*上　右　下　左*/

    text-align: center;

    flex-direction: column;
}
.candidate img {
    width: 100px;
    height: 150px;

    object-fit: cover;
    /*画像がコンテナーいっぱいに余白が出ることなくフィットされ、縦横比は維持し、
    位置は縦横中央になり、はみ出す部分はトリミングされている*/
    flex-wrap: wrap;
}


/*政党一覧　全体*/
.politicals {
    margin: 50px 150px;

    background-color: #fafafa;

    border: 2px solid black;
}

/*政党一覧　内容*/
.political {
    display: inline-block;

    margin: 30px 60px 30px 60px;

    text-align: center;
    
    flex-direction: column;
}
.political img {
    width: 200px;
    height: 200px;

    border: 3px solid #000000;

    object-fit: cover;
    flex-wrap: wrap;
}

/*フッター*/
.footer {
    padding: 30px;

    color: #fafafa;
    background-color: rgba(87, 101, 87);

    text-align: center;
}