@charset "utf-8";
/*home1.blade.phpなどの記述*/


body {
    background-size: cover;
    
    min-height: 100vh;
}


/*============= 候補者,政党一覧　共通 ===============*/

/*候補者一覧,政党一覧　タイトル*/
h1 {
    margin-top: 20px;

    text-align: center;

    font-family: Yu Mincho;
}


/*=================== 候補者一覧 ===================*/

/*全体*/
.candidates {
    margin: 100px 250px 120px;

    background: rgba(255,255,255);

    border: 5px solid black; 
}

/*外枠*/
.candidate_box {
    height: auto;
    max-height: 550px;
    width: 1010px;

    overflow-y: scroll;
}

/*内容全体*/
.candidate {
    display: inline-block;
    
    margin: 40px 60px 40px 83px; /*上　右　下　左*/

    text-align: center;

    flex-direction: column;
}

/*写真*/
.candidate img {
    width: 100px;
    height: 150px;

    border: 3px solid #000000;
    
    object-fit: cover;
    /*画像がコンテナーいっぱいに余白が出ることなくフィットされ、縦横比は維持し、
    位置は縦横中央になり、はみ出す部分はトリミングされている*/
    flex-wrap: wrap;
}

/*名前*/
.candidate_name {
    width: 100px;
    margin-top: 20px;
}
.candidate_name:hover {
    text-decoration: underline;

    color: blue ;
}

/*URL*/
.candidates a{
    color: black;

    text-decoration: none;
}


/*==================== 政党一覧 ====================*/

/*全体*/
.politicals {
    margin: 120px 250px 180px;

    background: rgba(255,255,255);

    border: 5px solid black;
}

/*外枠*/
.political_box {
    width: 1010px;
    height: 975px;

    overflow-y: scroll;
}

/*内容全体*/
.political {
    display: inline-block;

    margin: 40px 0px 40px 40px;

    text-align: center;

    flex-direction: column;
}

/*写真*/
.political img {
    width: 200px;
    height: 200px;

    border: 3px solid #000000;

    object-fit: cover;
    flex-wrap: wrap;
}

/*名前*/
.political_name {
    width: 280px;
    margin-top: 20px;
}

/*URL*/
.politicals a{
    color: black;

    text-align: center;
    text-decoration: none;

    font-size: 16px;
}
.politicals a:hover {
    color: rgb(57, 8, 255);

    text-decoration: underline;
}

.footer {
    padding: 30px;

    color: #fafafa;
    background-color: rgba(87, 101, 87);

    text-align: center;
}