@charset "utf-8";
/*header.blade.phpの記述*/


/*「*」はすべての要素に当てはまる*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*ヘッダー 全体*/
header {
    position: sticky;
    z-index: 3;

    width: 100%;
    height: 155px;
    top: 0;
    margin: 0 auto;
    padding: 15px 0 0;

    background-color: rgba(149, 146, 147, 0.5);

    text-align: center;

    font-weight: bold;
}


/*ロゴ,タイトル,検索欄*/
.tophead {
    display: flex;

    margin: 10px auto 0px;

    align-items: center;

    font-size: 30px;
}


/*ロゴ*/
.logo {
    margin: 0 10px;

    background-color: rgba(87, 101, 87, 0.3);
}
.logo img {
    height: 54px;
}
.logo:hover {
    background-color: rgba(34, 39, 34, 0.3);

}

/*タイトル*/
.headline a {
    display: inline-block;

    padding: 5px 30px;

    color: #fafafa;
    background-color: rgba(87, 101, 87, 0.3);
}


/*検索欄*/
.search {
    margin: 10px;
    margin-left: auto;
    padding: 0px 30px;

    text-align: right;
}
.search input {
    width: 15em;
    height:40px;

    border: solid 2px black;
}
.search-button {
    position: absolute;
    
    top: 40px;
    right: 42px;

    border: 0px;
}
.search-button:hover {
    cursor: pointer;
    opacity:0.5;
}
.search-button img {
    height: 33px;

    background-color: #fafafa;
}


/*ヘッダー 全体*/
.main-header {
    margin: 0 auto;
    padding: 15px 0 0;
    
    text-align: center;
}

/*ヘッダー 要素*/
.main-header li {
    position: relative;
    display: inline-block;

    width: 16%;
    min-width: 90px;

    list-style: none;
}
.main-header li:hover ul {
    display: block;
}
.main-header li:first-child {
    margin-top: 0px;
}

.main-header a {
    display: block;
    
    padding: 15px 10px;

    color: #000000;
    
    text-decoration: none;
}
.main-header a:hover {
    color: #000000;

    background-color: rgb(123, 123, 123);
}


/*第〇回△△選挙*/
.form-group input {
    width: 60px;
    margin-left: -40px;
    padding: 5px;

    color: #000000;
    background-color: rgb(123, 183, 221);

    border: solid 2px black;
	border-radius: 5px;
    
    font-weight: bold;
}
.form-group input:hover {
    background-color: rgb(102, 152, 184);
}

/*検索　ボタン*/
.serch {
	padding: 7px 45px 7px 0px;
    
    outline: none;

    background-color: rgb(200, 199, 199);

	border: none;
	border-radius: 5px;
    
    text-align: center;
    line-height: 1.1em;

    font-size: 93%;
    font-weight: bold;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.serch::-ms-expand {
    display: none;
}

option {
    margin: 20 auto;

    background-color: #fafafa;
}


/*政党一覧*/
.main-header-itemA a:hover {
    color: #000000;

    text-decoration: none;
}

.main-header-itemA ul {
    position: absolute;
    display: none;

    height: auto;
    margin: 0;
    padding: 0;
}

.main-header-itemA ul li {
    width: 243px;
    height:auto;
    
    background-color:rgb(200, 199, 199);
}
.main-header-itemA li:not(:last-child) {
    border-right: none;
}

.main-header-itemA ul li a {
    line-height: 20px;

    font-weight: normal;
}