@charset "utf-8";
/*mypage.blade.phpとcreate.blade.phpの記述*/


/*===================== 共通 ======================*/

body {
    background-image: url('../triangleliblue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* 画像をタイル状に繰り返し表示しない */
    background-attachment: fixed;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
}

/*フラッシュメッセージ*/
.flash-message1 {
    padding: 15px;

    color: white;
    background-color: rgb(130, 207, 233);

    text-align: center;

    font-size: 20px;
}

/*サブヘッダー 全体(create,edit,mypage.blade.php)*/
.sub-header1 {
    z-index: 1;

    padding: 5px 30px;
    margin: 75px 40px 0px 925px;

    overflow: hidden;

    background-color: #ccc;
    background-image: url('../libluetri1.png');
    background-size: cover;

    border: solid 3px #160940;

    text-align: center;
    text-decoration: none;

    font-weight: bold;
}

/*ヘッダー 要素*/
.sub-header1 li {
    display: inline-block;

    min-width: 100px;

    list-style: none;
	list-style-type: none;
    /*list-style-type:none;→箇条書きの点を消した*/
}

.sub-header-item {
    display: block;

    list-style: none;
}

.sub-header-item select {
    outline: none;
}


/*ul：黒ポチの箇条書き*/
.sub-header1 ul {
    margin: 0 ;
    padding: 0 ;
}

.sub-header1 a {
    padding: 15px;

    color: #000000;

    text-decoration: none;
}
.sub-header1 a:hover {
    color: #000000;

    background-color: rgb(111, 134, 250, 0.5);
}

/*候補者名*/
.overall h1 {
    margin: 40px auto 0px;

    text-align: center;
}

/*表全体*/
table {
    border-collapse: collapse;
    /*border-collapse:隣り合ったテーブルセルの間隔を指定するプロパティ
      collapse:隣接するボーダーラインを重ねあわせて表示するよう指定する*/

    width: 90%;
    margin: auto;
}

/*表内の装飾*/
table tr, table td {    
    border: solid 2px black;

    line-height: 190%;
}
table td {
    padding: 10px 20px;
}
.table tr, table td:nth-child(1) {
    width:150px;
}

/*「自己紹介＆公約」＆「出馬履歴」*/
.sentence {
    display: flex;    
}

/*自己紹介＆公約全体*/
.introduction {
    display: inline-block;

    width: 45%;
    margin: 80px 0px 80px 50px;
    padding: 10px 20px 10px 20px;

    border: solid 2px black;

    line-height: 190%;
    word-wrap: break-word;
}

/*自己紹介＆公約のタイトル*/
.title1 {
    border-bottom: solid 2px black;
}

/*出馬履歴全体*/
.histories {
    display: inline-block;

    width: 45%;
    margin: 80px 50px 80px 50px;
    padding: 10px 20px 20px 20px;

    border:solid 2px black;

    line-height: 190%;
    word-wrap: break-word;
}

/*出馬履歴のタイトル*/
.title2 {
    border-bottom: solid 2px black;
}

/*フォームのオートコンプリート使用時に背景色を変更しないようにする*/
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
}


/*================ mypage.blade.php ===============*/

/*下記のボタンから入力してください画面のフッター*/
.footer1 {
    margin: 32px auto 0;
    padding: 30px;

    color: #fafafa;
    background-color: rgba(87, 101, 87);

    text-align: center;
}

/*マイページが作成されていません画面のフッター*/
.footer2 {
    margin: 221px auto 0;
    padding: 30px;

    color: #fafafa;
    background-color: rgba(87, 101, 87);

    text-align: center;
}

/*新規作成ボタン*/
.new1 {
    margin: 188px auto 40px;

    text-align: center;

    font-size: 140%;
}

.new2 {
    margin: 250px auto 40px;

    text-align: center;

    font-size: 180%;
}

.btn-new1 {
    margin: 0px 673px 124px;
    padding: 5px 15px;
    
    color: #fafafa;
    background: #00bcd4;

    border: none;
    border-radius: 25px;

    text-align: center;

    font-size: 220%;
}
.btn-new1:hover {
    color: #fafafa;
    background: #116a6a;
}


/*編集ボタン flashmessageがあるとき*/
.btn-editing1-1 {
    position: absolute;

	top: 69%;
	left: 22%;
    padding: 5px 15px;

	transform: translate(-50%, -50%);

    color: #fafafa;
    background: #00bcd4;

    border: none;
    
    font-size: 150%;
}
.btn-editing1-1:hover {
    color: #fafafa;
    background: #116a6a;
}

/*編集ボタン flashmessageがないとき*/
.btn-editing1-2 {
    position: absolute;

	top: 61.5%;
	left: 22%;
    padding: 5px 15px;

	transform: translate(-50%, -50%);

    color: #fafafa;
    background: #00bcd4;

    border: none;
    
    font-size: 150%;
}
.btn-editing1-2:hover {
    color: #fafafa;
    background: #116a6a;
}

/*紹介部分*/
.overall {
    display: inline-block;

    margin: 100px 250px;

    background-color: #fafafa;

    border: 5px solid black;
}

/*候補者の顔写真＆紹介動画*/
.images {
    display: flex;

    padding: 10px 10px;
}

/*候補者の顔写真*/
.images img {
    display: inline-block;
 
    width: 190px;
    height: 230px;
    margin: 50px 50px 70px 80px;
        
    border: 3px solid black;

    object-fit: cover; 
    /*画像がコンテナーいっぱいに余白が出ることなくフィットされ、縦横比は維持し、
    位置は縦横中央になり、はみ出す部分はトリミングされている*/
    flex-wrap: wrap;
}

/*候補者の紹介動画*/
.images video {
    display: inline-block;

    width: 400px;
    height: 227px;
    margin: 50px 70px 70px 190px;

    border: 3px solid black;
}

/*経歴*/
.mypage-career {
    height: 430px;

    overflow-y: scroll;
}

/*自己紹介＆公約*/
.mypage-introductions {
    height: 415px;
    padding: 15px 0px 0px;

    overflow-y: scroll;
}

/*出馬履歴*/
.mypage-histories {
    height: 415px;
    padding: 15px 0px 0px;

    overflow-y: scroll;
}

/*mypage.blade.php　編集ボタン２*/
.btn-editing2 {
    margin: 0px 465px 50px;
    padding: 5px 15px;

    color: #fafafa;
    background: #00bcd4;

    border: none;
    
    text-align: center;

    font-size: 150%;
}
.btn-editing2:hover {
    color: #fafafa;
    background: #116a6a;
}

/*フッター*/
.footer3 {
    padding: 30px;

    color: #fafafa;
    background-color: rgba(87, 101, 87);

    text-align: center;
}


/*================ create.blade.php ===============*/

/*候補者の顔写真＆紹介動画*/
.create_images {
    display: flex;
    
    padding: 10px 10px;
}

/*候補者の顔写真*/
.image_text {
    display: inline-block;

    width: 190px;
    height: 230px;
    margin: 30px 50px 70px 80px;
    
    border: 3px solid black;
    
    text-align:center;
    line-height:75px;

    object-fit: cover; 
    flex-wrap: wrap;
}

/*写真と動画を挿入*/
input[type="file"] {
    position: absolute;

    opacity: 0;
    visibility: hidden;
}

/*写真・動画選択*/
label {
    display: inline-block;
    
    padding: 0px 15px;

    color: #fff;
    background: rgb(155, 188, 190);
    
    cursor: pointer;
}

/*候補者の紹介動画*/
.image_movie {
    display: inline-block;

    width: 400px;
    height: 230px;
    margin: 30px 70px 70px 190px;
    
    border: 3px solid black;

    text-align: center;
    line-height:75px;
}

/*政党名*/
.create-party {
    padding: 0px 10px;

    font-size: 16px;
}

/*名前,メールアドレス*/
.create-feedback1 {
    margin: 5px auto 0px;

    font-weight: bold;
}

/*性別（女）*/
.woman {
    margin: auto auto auto 15px;
}

/*経歴*/
.create-career {
    resize: none;
    
    width: 550px;
    height: 300px;
    padding: 10px 20px 20px 20px;

    font-size: 130%;
}

/*自己紹介＆公約*/
.create-introductions {
    display: inline-block;
    resize: none;

    width: 340px;
    height: 400px;
    margin: 40px 0px 30px 20px;
    padding: 10px 20px 20px 20px;
    
    border: solid 2px black;

    line-height: 190%;
    word-wrap: break-word;

    font-size: 120%;
}

/*お問い合わせ内容*/
.create-feedback2 {
    margin: 5px auto 10px;

    font-weight: bold;
}

/*出馬履歴*/
.create-histories {
    display: inline-block;
    resize: none;

    width: 340px;
    height: 400px;
    margin: 40px 0px 30px 20px;
    padding: 10px 20px 20px 20px;
    
    border: solid 2px black;

    line-height: 190%;
    word-wrap: break-word;

    font-size: 120%;
}

/*作成・戻るボタン*/
.text-center {
    margin: 10px auto 50px;
}

/*作成ボタン*/
.btn-create {
    margin: 0px 80px 0px 375px;
    padding: 5px 15px;
    
    color: #fafafa;
    background: #00bcd4;

    border: none;
    border-radius: 25px;
    
    font-size: 150%;
}
.btn-create:hover {
    color: #fafafa;
    background: #116a6a;
}

/*戻るボタン*/
.btn-return {
    padding: 5px 15px;
    
    color: #fafafa;
    background: #00bcd4;

    border: none;
    border-radius: 25px;
    
    font-size: 150%;
}
.btn-return:hover {
    color: #fafafa;
    background: #116a6a;
}
