@charset "utf-8";
/*register(/auth),login1,email,reset,change,support,support1,create(\questions).blade.phpの記述*/


/*====================== 共通 ======================*/

body {
    margin: 0 auto 0;

    background-image: url('../triangle.png');
    background-size: cover;   
}

/*ボタン系の中の記述(共通)*/
.inside-button {
    padding: 10px 100px;

    color: #fafafa;
    background: #00bcd4;

    border: none;
    border-radius: 25px;

    text-align: center;

    font-size: 20px;
}
.inside-button:hover {
    color: #fafafa;
    background: #116a6a;
}

/*フォームのオートコンプリート使用時に背景色を変更しないようにする*/
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
}


/*============ register,email.blade.php ============*/

/*メアド間違えた時*/
.invalid-feedback {
    margin:13px auto 0px;

    color: red;

    font-weight: bold;
}


/*============ login,email,.blade.php ============*/

/*トップページに戻るボタン*/
.backtop3 {
    position: absolute;
    z-index: 3;

    right: 40;
    bottom: 60;
    padding: 0px 15px;
    margin: 30px 10px;

    overflow: hidden;

    background-color: #00bcd4;
    
    border: solid 3px #160940;

    text-align: center;
    text-decoration: none;

    font-size: 14px;
    font-weight: bold;
}
.backtop3:after {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;

    content: "";
    opacity: 0; 

    background : #bfdfdf;
}
.backtop3:hover {
    color: rgb(0, 0, 0);
}
.backtop3:hover:after {
    height: 215%;

    opacity: 1; /*要素の不透明度*/
}
.backtop3:active:after {
    height: 265%;

    opacity: 1; /*要素の不透明度*/
}

.backtop3 a {
    color: #fafafa;

    text-decoration: none;
}
.backtop3 a:hover {
    color: rgb(57, 8, 255);

    text-decoration: underline;    
}


/*====== email,reset,change.blade.php =====*/

/*ボタン系の外の記述*/
.button-placement { 
    margin: 30px auto;

    text-align: center;
}


/*======== email,support,support1.blade.php ========*/

/*フラッシュメッセージ*/
.flash-message1 {
    padding: 15px;

    color: white;
    background-color: rgb(130, 207, 233);

    text-align: center;

    font-size: 20px;
}


/*============ reset,support.blade.php ============*/

/*表の位置*/
.reset_support-table {
    margin: 50 auto 70 auto;

    background-color: #dff3f5;

    text-align: left;
}

/*表の中身のセル記述*/
.reset_support-table td {
    padding: 20px 40px;
}
.reset_support-table th {
    padding: 20px 20px;
}


/*========== reset,support.blade.php以外 ==========*/

/*表の見出しセルの記述*/
table th {
    padding: 30px;

    font-size: 15px;
}
table td {
    padding: 15px 100px;
}


/*=============== register.blade.php ==============*/

/*タイトル*/
.regist-title {
    margin-top: 30px;

    text-align: center;

    font-size: 20px;
    font-family: Yu Mincho;
}

.regist-title h2 {
    margin: 0px 0px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

/*トップページに戻るボタン*/
.backtop1 {
    position: absolute;
    z-index: 3;

    right: 40;
    bottom: 20;
    margin: 30px 10px;
    padding: 0px 15px;

    overflow: hidden;

    background-color: #00bcd4;

    border: solid 3px #160940;

    text-align: center;
    text-decoration: none;

    font-size: 14px;
    font-weight: bold;
}
.backtop1:after {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;

    content: "";
    opacity: 0; 

    background : #bfdfdf;
}
.backtop1:hover {
    color: rgb(0, 0, 0);
}
.backtop1:hover:after {
    height: 215%;

    opacity: 1; 
}
.backtop1:active:after {
    height: 265%;

    opacity: 1;
}

.backtop1 a {
    color: #fafafa;

    text-decoration: none;
}
.backtop1 a:hover {
    color: rgb(57, 8, 255);

    text-decoration: underline;
}

/*表の位置*/
.register-table { 
    margin: 20 auto 35 auto;

    background-color: #dff3f5;

    text-align: left;
}

/*出馬する選挙*/
select {
	padding: 7px 30px 7px 10px;
    
    outline: none;

    line-height: 1.1em;

	font-size: 93%;
}

/*出馬する選挙　表内*/
option {
    background-color: #fafafa;
}

.register-button-placement {
    margin: 30px auto 100px;

    text-align: center;
}

.register-footer {
    padding: 20px;

    color: #fafafa;
    background-color: rgb(76, 87, 76);

    text-align: center;
}


/*================ login.blade.php ===============*/

/*タイトル*/
.login-title {
    margin-top: 140px;

    text-align: center;

    font-size: 20px;
    font-family: Yu Mincho;
}

/*フラッシュメッセージ*/
.flash-message2 {
    padding: 15px;

    color: white;
    background-color: rgb(221, 124, 124);

    text-align: center;

    font-size: 20px;
}

/*表の位置*/
.login1-table {
    margin: 80 auto 50 auto;

    background-color: #dff3f5;

    text-align: left;
}

/*ボタン系の外の記述*/
.login-button-placement { 
    margin: 20px auto 0px;

    text-align: center;
}

/*※の部分*/
.lost-item {
    position: absolute;

    margin: 10px 615px 0px;
    padding: 0px 20px;

    text-align: center;

    font-weight:normal;
}

/*「コチラ」の部分*/
.lost-item a {
    color: rgb(57, 8, 255);
}

.lost-item a:hover {
    color: rgb(37, 3, 173);
    
    text-decoration: underline;
}

.login-footer {
    margin: 145px auto 0px;
    padding: 20px;

    color: #fafafa;
    background-color: rgb(76, 87, 76);

    text-align: center;
}

/*================ email.blade.php ===============*/

/*タイトル*/
.email-title {
    margin-top: 170px;

    text-align: center;

    font-size: 20px;
    font-family: Yu Mincho;
}

/*メアド送信した時のアラート文*/
.alert-success {
    text-align: center;
}

/*表の位置*/
.email-table {
    margin: 80 auto 75 auto;
    
    background-color: #dff3f5;

    text-align: left;
}

/*メアド入力欄のサイズ*/
.form-control {
    margin: 0px auto 0px;
}

.email-footer {
    margin: 175px auto 0px;
    padding: 20px;

    color: #fafafa;
    background-color: rgb(76, 87, 76);

    text-align: center;
}


/*================ reset.blade.php ================*/

/*タイトル*/
.reset-title {
    margin-top: 140px;

    text-align: center;

    font-size: 20px;
    font-family: Yu Mincho;
}


/*=============== change.blade.php ===============*/

/*タイトル*/
.change-title {
    margin-top: 120px;

    text-align: center;

    font-size: 20px;
    font-family: Yu Mincho;   
}

/*表の位置*/
.change-table {
    margin: 80 auto 70 auto;

    background-color: #dff3f5;

    text-align: left;
}


/*========== support,support1.blade.php ==========*/
/*お名前,メールアドレス*/
.name-mail {
    padding: 10px 0px 10px 20px;
}

/*お問い合わせ内容*/
.inquiry {
    display: inline-block;
    resize: none;

    width: 520px;
    height: 350px;
    margin: 30px 0px 30px 0px;
    padding: 10px 20px 20px 20px;
    
    border: solid 1px black;

    line-height: 190%;
    word-wrap: break-word;

    font-size: 120%;
}


/*=============== support.blade.php ==============*/

/*タイトル*/
.support-title2 {
    margin: 100px auto 30px;

    text-align: center;

    font-size: 20px;
    font-family: Yu Mincho;    
}

.support-button-placement {
    margin: 30px auto 80px;

    text-align: center;
}


/*============== support1.blade.php ==============*/

/*タイトル*/
.support-title1 {
    margin: 160px auto 0px;

    text-align: center;

    font-size: 20px;
    font-family: Yu Mincho;
}

/*トップページに戻るボタン*/
.backtop2 {
    position: absolute;
    z-index: 3;

    right: 40;
    bottom: -300;
    margin: 30px 10px;
    padding: 0px 15px;

    overflow: hidden;
    /*overflow:要素の内容が多すぎてブロック内に収まらない場合にどうするかを設定するもの。*/

    background-color: #00bcd4;

    border: solid 3px #160940;

    text-align: center;
    text-decoration: none;

    font-size: 14px;
    font-weight: bold;
}
.backtop2:after {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;

    content: "";
    opacity: 0; 

    background : #bfdfdf;
}
.backtop2:hover {
    color: rgb(0, 0, 0);
}
.backtop2:hover:after {
    height: 215%;

    opacity: 1; /*要素の不透明度*/
}
.backtop2:active:after {
    height: 265%;

    opacity: 1; /*要素の不透明度*/
}

.backtop2 a {
    color: #fafafa;

    text-decoration: none;
}
.backtop2 a:hover {
    color: rgb(57, 8, 255);

    text-decoration: underline;
}

/*メールアドレス入力欄のサイズ*/
.name-mail {
    margin: 0px auto 0px;
}

/*名前,メールアドレス*/
.support-feedback1 {
    margin: 20px auto 0px;

    color: red;

    font-weight: bold;
}

/*お問い合わせ内容*/
.support-feedback2 {
    margin: 5px auto 10px;

    color: red;

    font-weight: bold;
}

.support1-button-placement {
    margin: 30px auto 110px;

    text-align: center;
}


/*========= create(\questions).blade.php =========*/
.create-button-placement {
    margin: 30px auto 80px;

    text-align: center;
}

.sub-header1 {
    padding: 5px 30px;
    margin: 75px 40px 0px 925px;
    overflow: hidden;

    z-index: 1;

    border: solid 3px #160940;
    background-color: #ccc;
    background-image: url('../libluetri1.png');
    background-size:cover;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.sub-header1 li {
    list-style: none;
    display: inline-block;

    min-width: 100px;
    /*list-style-type:none;→箇条書きの点を消した*/
	list-style-type:none;
}


.sub-header-item {
    list-style: none;
    display: block;
}

.sub-header-item select {
    outline: none;
}


/*ul：黒ポチの箇条書き*/
.sub-header1 ul {
    margin: 0 ;
    padding: 0 ;
}

.sub-header1 a {
    padding: 15px;

    text-decoration: none;

    color: #000000;
}

.sub-header1 a:hover {
    background-color: rgb(111, 134, 250, 0.5);

    color: #000000;
}

p { 
   display:none;
}

input[type="checkbox"] {
    display:none}:checked + p{
    display:block;
}


.sub-header2 {
    padding: 5px 30px;
    margin: 75px 40px 0px 925px;
    overflow: hidden;

    z-index: 1;

    border: solid 3px #160940;
    background-image: url('../lipinktri1.jpg');
    background-size:cover;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.sub-header2 li {
    list-style: none;
    display: inline-block;
    min-width: 100px;
    /*list-style-type:none;→箇条書きの点を消した*/
	list-style-type:none;
}

/*ul：黒ポチの箇条書き*/
.sub-header2 ul {
    margin: 0 ;
    padding: 0 ;
}

.sub-header2 a {
    padding: 15px;

    text-decoration: none;

    color: #000000;
}

.sub-header2 a:hover {
    background-color: rgba(255, 58, 150, 0.5);

    color: #000000;
}

.sub-header3 {
    padding: 0px 30px;
    margin: 75px 40px 0px 925px;
    overflow: hidden;

    z-index: 1;

    border: solid 3px #160940;
    background-color: #ccc;
    background-image: url('../ligraytri1.jpg');
    background-size:cover;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.sub-header3 li {
    list-style: none;
    display: inline-block;
    min-width: 100px;
    /*list-style-type:none;→箇条書きの点を消した*/
	list-style-type:none;
}
.sub-header3 li:hover ul {
    display: block;
}
.sub-header3 li:first-child {
    margin-top: 0px;
}

/*ul：黒ポチの箇条書き*/
.sub-header3 ul {
    margin: 0 ;
    padding: 0 ;
}

.sub-header3 a {
    display: block;

    padding: 5px 10px;

    text-decoration: none;

    color: #000000;
}

.sub-header3 a:hover {
    background-color: rgba(104, 104, 104, 0.5);

    color: #000000;
}