@charset "utf-8";
/*tweets.blade.phpの記述*/


/*===================== 共通 ======================*/

body {
    background-image: url('../triangleliblue.jpg');
    background-size: cover;   
    background-repeat: no-repeat;
    /* 画像をタイル状に繰り返し表示しない */    
    background-attachment: fixed;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
}

/*タイトル*/
.title {
    margin: 0px auto 25px; 

    font-size: 30px;    
    font-weight: bold;
    font-family: Yu Mincho;
}

/*================= サブヘッダー =================*/

.sub-header1 {
    z-index: 1;

    margin: 75px 40px 0px 925px;
    padding: 5px 30px;

    overflow: hidden;

    background-color: #ccc;
    background-image: url('../libluetri1.png');
    background-size: cover;

    border: solid 3px #160940;

    text-align: center;
    text-decoration: none;

    font-weight: bold;
}

/*ヘッダー 要素*/
.sub-header1 li {
    display: inline-block;

    min-width: 100px;

    list-style: none;
	list-style-type: none;
    /*list-style-type:none;→箇条書きの点を消した*/
}

.sub-header-item {
    display: block;

    list-style: none;
}

.sub-header-item select {
    outline: none;
}


/*ul：黒ポチの箇条書き*/
.sub-header1 ul {
    margin: 0 ;
    padding: 0 ;
}

.sub-header1 a {
    padding: 15px;

    color: #000000;

    text-decoration: none;
}
.sub-header1 a:hover {
    color: #000000;
    background-color: rgb(111, 134, 250, 0.5);
}


/*================= つぶやく画面 =================*/

/*つぶやく画面　全体*/
.tweet {
    max-width: 1000px;
    margin: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px 30px 15px;

    background-color: rgb(200, 223, 213);

    border: solid 5px black;
}

/*つぶやく場所　全体*/
.Tweetarea {
    position: relative;

    margin: 10px 20px 20px 20px;

    background-color: rgb(255, 255, 255);

    line-height: 1.8;

    font-size: 1rem;
}

.FlexTextarea__dummy {    
    visibility: hidden;

    min-height: 100px;
    padding: 5px 150px 5px 15px;

    overflow: hidden;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;

    border: 1px solid;
}

.Tweet-sentence {
    position: absolute;
    display: block;
    resize: none;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 5px 150px 5px 15px;

    overflow: hidden;
    box-sizing: border-box;

    color: inherit;
    background-color: transparent;

    border: 3.5px solid #000000;
    border-radius: 4px;

    font: inherit;
    letter-spacing: inherit;   
}
.Tweet-sentence:focus {
    outline: 0;

    box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
}
/*つぶやく　ボタン*/
.btn-primary {
    position: absolute;

    top: 67.5%;
    right: 21.5%;
    padding: 5px 10px;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

    color: #fafafa;
    background: #00bcd4;

    border: solid 2px black;


    text-align: center;

    font-size: 20px;
}
.btn-primary:hover {
    color: #fafafa;
    background: #116a6a;
}

/*================= つぶやき画面 =================*/

/*つぶやき画面　全体*/
.mutter {
    position: relative;

    height: auto;
    max-height: 650px;
    width: 1000px;
    margin: 100px auto 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px 30px 15px;

    background-color: rgb(200, 223, 213);  

    border: solid 5px black;  
}

/*つぶやく場所　全体*/
.Mutterarea {
    width: 975px;
    height: auto;
    min-height: 50px; 
    max-height: 500px;

    overflow-y: scroll;
}

.mutter-output {
    position: relative;
    display: inline-block;
    
    width: 910px;
    margin: 15px 0px 30px 30px;
    padding: 15px 10px;

    box-sizing: border-box;

    color: #555;
    background: #FFF;

    border: solid 3.5px #555;

    font-size: 16px;
}
.mutter-output:before {
    position: absolute;
    z-index: 2;

    top: 50%;
    left: -24px;
    margin-top: -12px;

    content: "";

    border: 12px solid transparent;
    border-right: 12px solid #FFF;
}
  .mutter-output:after {
    position: absolute;
    z-index: 1;

    top: 50%;
    left: -30px;
    margin-top: -14px;

    content: "";

    border: 14px solid transparent;
    border-right: 14px solid #555;
}

/*つぶやいた内容表示*/
.mutter-contents {
    margin: 0;
    padding: 5px 150px 5px 15px;
    
    white-space: pre-wrap;
    word-break: break-all;
}

/*日付時間*/
.Date-and-Time {
    position: absolute;

    top: 50%;
    right: 7%;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

    text-align: center;

    font-size: 15px;
}

/*つぶやき削除　ボタン*/
.btn-danger {
	position: absolute;

    width: 35px;
	height: 60px;
    top: 50%;
    right: 2%;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

	overflow: hidden;
	cursor: pointer;
}
.btn-danger img {
	position: absolute;
    display: block;

    width: 100%;
	top: 50%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: .4s ease-in-out;
	transition: .5s ease-in-out;
}
.btn-danger .active {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.btn-danger:hover .active {
    opacity: 1;
}


/*============= 質問・返答閲覧画面(仮) ============*/

/*質問・返答閲覧画面(仮)　全体*/
.question {
    position: relative;

    width: 1000px;
    height: auto;
    margin: 100px auto 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px 30px 15px;

    background-color: rgb(187, 211, 235);    

    border: solid 5px black;
}

/*「過去の質問を見る」のリンク*/
.watch {
    position: absolute;

    top: 4.5%;
    right: 5%;

    font-size: 23px;
}
.watch a {
    color: rgb(57, 8, 255);
}
.watch a:hover {
    color: rgb(37, 3, 173);
    
    text-decoration: underline;
}

/*質問・回答　全体*/
.big {
    margin: 15px auto 30px;
    
    width: 800px;

    border: solid 3.5px black;
}

/*質問*/
.midium-question {
    position: relative;
    display: inline-block;

    width: 793px;
    padding: 10px 10px 20px;

    color: #555;
    background: #FFF;

    box-sizing: border-box;

    font-size: 16px;
}

/*回答*/
.midium-answer {
    position: relative;
    display: inline-block;

    width: 793px;
    padding: 10px 10px 20px;

    box-sizing: border-box;

    color: #555;
    background: #FFF;

    border-top: double 5px black;

    font-size: 16px;
}

/*質問・回答　タイトル*/
.sub-title {
    margin: 0px auto 10px;
    padding: 5px 150px 5px 15px;

    font-size: 20px;
    font-weight: bolder;
}

/*質問内容(仮)*/
.question-contents {
    padding: 5px 15px;

    word-break: break-all;
}

/*回答内容(仮)*/
.answer-contents {
    padding: 5px 15px;

    word-break: break-all;
}